@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
    font-family: 'Major Mono Display', monospace;
    --main-text-size: 25px;
    --secondary-text-size: 15px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

#fps-counter {
    position: fixed;
    font-size: var(--main-text-size);
    left: 1vw;
    top: 1vh;
}

#fps-limiter {
    position: fixed;
    font-size: var(--secondary-text-size);
    left: 1vw;
    top: calc(1vh + var(--main-text-size));
}


#main-canvas {
    width: 100%;
    height: 100%;
}
